.works {
    float: left;
    width: 49%;
}

.works-index {
    height: 1200px;
}

.works-index > .works > img {
    height: 300px; 
}

.works-index > .works > img {
    height: 300px; 
}

.works-index > .works > img {
    height: 300px; 
}

.works-index > .works > img {
    height: 300px; 
}

.works-index > .works > img {
    height: 300px; 
}
